
    <div  class=" container mt-5 " [hidden]="LocalItemSecond">
        <mat-card>
            <mat-card-title>Your Notes</mat-card-title>
            <mat-list *ngFor="let note of notes,index as i" >
                <mat-list-item><b>No: </b> {{note.id}}</mat-list-item>
                <mat-list-item><b>Date: </b> {{note.NDate}}</mat-list-item>
                <mat-list-item><b>Title: </b> {{ note.Title}}</mat-list-item>
                <mat-list-item><p><b>Content: </b> {{ note.Content}}</p></mat-list-item>
                <button class=" mx-3 mb-2 btn btn-danger "  [routerLink]="['/note',note.id]" >Edit</button>
                <button class=" mx-1 mb-2 btn btn-danger " (click)="onClick(note.id)">Delete</button>
            </mat-list>
        </mat-card>
    
        <!-- <input type="text" [formControl]="titl"> -->
        
        
    
    
   
   