.mat-list{
    background-color:black;
    margin-top: 5px;
    
}
.mat-list-item p{
   
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    
}

#parent_div_1{
    width:300px;
    height:100px;
    
    margin-right:10px;
    float:left;
}
.child_div_1,.child_div_2{
    float:left;
    margin-right:5px;
}
.child_div_2{
    float:left;
    margin-right:5px;
}

#notes{
    background-color:ivory;
}
#titl{

    border-color: rgb(93, 230, 248);
    border-radius: 10px;
    width: 200px;
}