<div class="mt-5" id="div-main" >
    <div id ="div">
        <address class="container mt-3 fst-italic" >
            <p >SreeHari Chittar po</p>
            <p>Pathanamthitta,Kerala</p>
            <p>Pin:689663</p>
            <p>Mob:6238095881</p>
        </address>
       
    </div>
    <div id="div3" >
        <i  class="fa fa-facebook fa-2x " ></i>
        <i  class="fa fa-youtube-play fa-2x"></i>
        <i  class="fa fa-twitter fa-2x"></i>
        <i  class="fa fa-github fa-2x"></i>
        <i  class="fa fa-linkedin fa-2x"></i>
        <i  class="fa fa-envelope fa-2x"></i>
    </div>


</div>
