<div class="row" >
<div class="col-md-8">
    <app-note (noteAdd)="addNote($event)"></app-note>
</div>
    <div  class=" col-md-1 mt-5" >
        <mat-card style="width: 400px;">
            <mat-card-title>Your Notes</mat-card-title>
            <mat-list *ngFor="let notes of allnote" >
                <mat-list-item><b>No: </b> {{notes.sl}}</mat-list-item>
                <mat-list-item><b>Date: </b> {{notes.NDate}}</mat-list-item>
                <mat-list-item><b>Title: </b> {{ notes.Title}}</mat-list-item>
                <mat-list-item><p><b>Content: </b> {{ notes.Content}}</p></mat-list-item>
                <button class=" mx-3 mb-2 btn btn-danger ">Edit</button>
                <button class=" mx-1 mb-2 btn btn-danger ">Delete</button>
            </mat-list>
        </mat-card>
    
    </div>
</div>
