@import "./../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

#notes{
    background-color:ivory;
}
#titl{

    border-color: rgb(93, 230, 248);
    border-radius: 10px;
}
.pos{
    float: right;
}